In [1]:
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix
import pandas as pd

In [2]:
data = pd.read_csv("train.csv")

In [4]:

data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:

data = data.drop(['Name','PassengerId','Ticket','Cabin'],axis=1)

In [10]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [11]:
le = LabelEncoder()
data['Sex'] = le.fit_transform(data['Sex'])
data['Embarked'] = le.fit_transform(data['Embarked'])

In [12]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [13]:
def Model(col):
    x = data.drop([col],axis=1)
    y = data[col]
    train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.25, random_state=0)
    SVM = SVC(gamma=0.01, C=100)
    SVM.fit(train_x, train_y)
    print(f"Accuracy score is {accuracy_score(SVM.predict(test_x),test_y, normalize=True)}")
    print("------------------------------------")
    print(f"Confusion matrix: \n{confusion_matrix(SVM.predict(test_x), test_y)}")

# Survived as Dependent Variable

In [14]:

Model('Survived')

Accuracy score is 0.7309417040358744
------------------------------------
Confusion matrix:
[[103  31]
 [ 29  60]]

# SibSp as Dependent Variable

In [16]:

Model('SibSp')

Accuracy score is 0.7892376681614349
------------------------------------
Confusion matrix:
[[137  17   5   0   0   0   0]
 [ 15  30   0   2   0   0   0]
 [  1   4   2   1   0   0   0]
 [  0   0   0   2   0   0   0]
 [  1   0   0   1   2   0   0]
 [  0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   2]]

# Gender as Dependent Variable

In [15]:
Model("Sex")

Accuracy score is 0.7085201793721974
------------------------------------
Confusion matrix:
[[ 52  35]
 [ 30 106]]

# Pclass as Dependent Variable

In [17]:

Model('Pclass')

Accuracy score is 0.9103139013452914
------------------------------------
Confusion matrix:
[[ 53   4   1]
 [  5  33   4]
 [  1   5 117]]

# Embarked as Dependent Variable

In [18]:
Model('Embarked')

Accuracy score is 0.757847533632287
------------------------------------
Confusion matrix:
[[ 16   0  14]
 [  2   7   3]
 [ 21  14 146]]