###question 1 
The avearage  house rent in an apartment is 35 per month , X'= 43 and S = 33.(in thousands)</br>
Assume level of significance to be .20 and sample is 20.</br>

<p>H<sub>0</sub>:mu=35
So it is two tail test and S is given so t test.</p>

 <p>Table value is 1.328 
and calculated value is .1040 </br>
as .1040 lies between -1.328 to +1.328 ,null hypothesis is accepted .</p>

###question 2
The avearage  rent of a shop in a shopping center is 67 per month, X'= 88 and S = 43.(in thousands)</br>
Assume level of significance to be .10 and sample is 25.</br>

<p>H<sub>0</sub>:mu=67 </br>
So it is two tail test and S is given so t test.</p>

<p>Table value is 1.711 </br>
and calculated value is 2.4419</br>
as 2.4419 does not lie  between -1.711 to +1.711 ,null hypothesis is rejected .</p>

###question 3
the mean price of a doll  is 15 , given X'=23 and sigma = 11.</br>
Assume level of significance to be .10 and sample is 19.</br>

H<sub>0</sub>:mu=15</br>
So it is two tail test and sigma is given so Z test.

<p>Table value is 1.734</br>
and calculated value is 1.8353</br>
as 1.8353 does not lie  between -1.734 to +1.734 ,null hypothesis is rejected .</p>

###question 4
A teacher wanted to know about students IQ so she collected sample of 40 students.</br>
IQ score and have a mean score of 112.5.</br>
The mean population IQ is 110 with sigma = 10.(alpha is not given assume to be .05)</br>

<p>H<sub>0</sub>:mu=110</br>
So it is two tail test and sigma is given so Z test.</br></p>

<p>Table value is 2.045</br>
and calculated value is 1.5812</br>
as 1.5812  lies  between -2.045 to +2.045 ,null hypothesis is accepted.</p>

###question 5
Average number of children in a home is 3.if X'= 4 and S = 5.</br>
Assume level of significance to be .10 and sample is 21.</br>

<p>H<sub>0</sub>:mu >= 3</br>
This is one tail and left tail test. It is a t test as S is given.</p>

<p>Table value is 1.328</br>
and calculated value is .9165</br>
as .9165 greater than -1.328 , null hypothesis is accepted. </p>

###question 6
Average number of children in a home is 2.if X'= 4 and S = 6.
Assume level of significance to be .10 and sample is 17.

H<sub>0</sub>:mu <= 3
This is one tail and right tail test. It is a t test as S is given

Table value is 1.337
and calcaluted value is 1.3744
as 1.3744 lies outside the 1.337 , null hypothesis is rejected.

###question 7
Average number of children in a home is 4.if X'= 6 and S = 6.</br>
Assume level of significance to be .05 and sample is 10.

<p> H<sub>0</sub>:mu <= 3 </br>
    This is one tail and right tail test. It is a t test as S is given</p>

<p>Table value is 1.833. </br>
And calcaluted value is 1.0541 ,</br>
as 1.0541 lies within 1.833 , null hypothesis is accepted.</p>

###question 8 
Average number of people in a home are 6. X'= 9 and sigma = 10</br>
assume alpha to be .10 and sample is 30

H<sub>0</sub>:mu <= 6
 This is one tail and right tail test. It is a Z test as sigma is given
 

<p>Table value is 1.311 . </br>
And calcaluted value is 1.6432 ,</br>
as 1.6432 lies outside 1.311 , null hypothesis is rejected.</p>

###question 9
<p>Average number of people in a home are 5. X'= 8 and sigma = 10
assume alpha to be .05 and sample is 20</p>
<p>H<sub>0</sub>:mu <= 5 </br>
This is one tail and right tail test. It is a Z test as sigma is given</p>

<p>Table value is 1.729 . </br>
And calcaluted value is 1.3416 ,</br>
as 1.3416 lies inside 1.729 , null hypothesis is accepted.</p>

###question 10
Average number of people in a home are 4. X'= 9 and sigma = 15
assume alpha to be .05 and sample is 25

<p>H<sub>0</sub>:mu >=4 </br>
This is one tail and left tail test. It is a Z test as sigma is given</p>

<p>Table value is 1.711. </br>
And calcaluted value is 1.6667 ,</br>
as 1.6667 greater than  -1.729 , null hypothesis is accepted.</p>