In [2]:

#question 1
import re

emailAddress = input(" enter mail address : ")
pat2 = "(\w+)@(\w+)\.(com)"
r2 = re.match(pat2,emailAddress)
print(r2.group(2))

 enter mail address : manvitha@gmail.com
gmail

In [3]:
#question 2
i = input("enter list :")
words = [word for word in i.split(",")]
print(",".join(sorted(list(set(words)))))

enter list :kajal,ajay,navdeep,balaji
ajay,balaji,kajal,navdeep

In [1]:
#question 3
s={"functions","pointers","arrays"}
print(s)

{'pointers', 'arrays', 'functions'}

##Access Items
You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

In [2]:
a = {"nisha", "suman", "arjun"}

for x in a:
  print(x)

nisha
suman
arjun

##Join Two Sets
You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [3]:
s1 = {"kannada", "tamil" , "telugu"}
s2 = {"marathi", "hindi","english" }

s3 = s1.union(s2)
print(s3)

{'kannada', 'telugu', 'marathi', 'hindi', 'english', 'tamil'}

In [4]:
s1 = {"billu", "fanaa" , "lamhe"}
s2 = {122, 3452, 563}
s1.update(s2)
print(s1)

{'lamhe', 563, 122, 'billu', 3452, 'fanaa'}

##Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [6]:
t = {"einstien", "tesla", "wordsworth"}

t.remove("wordsworth")

print(t)

{'tesla', 'einstien'}

In [7]:
t = {"einstien", "tesla", "wordsworth"}

t.discard("wordsworth")

print(t)

{'tesla', 'einstien'}

##clear()
The clear() method empties the set:

In [5]:
thisset = {"shiva", "ram", "sita"}

thisset.clear()

print(thisset)

set()

In [8]:
#copy()
w = {"goa", "bangalore", "mandya"}
x = w.copy()
print(x)

{'bangalore', 'mandya', 'goa'}

In [9]:
#sdisjoint()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [11]:
#pop()
y={"manvitha","stella","afizha","neha"}
u=y.pop()
print(y)

{'manvitha', 'neha', 'afizha'}

In [12]:
#question 4

def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst] 
  

lst = [10, 12, 23, 25, 28, 34, 36] 
print(find_missing(lst))

[11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 29, 30, 31, 32, 33, 35]

In [13]:
#question 5
def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
      

duplicate = [2, 4, 10, 23, 34, 45, 34,20, 5, 2, 20, 4] 
print(duplicate) 
print(Remove(duplicate))

[2, 4, 10, 23, 34, 45, 34, 20, 5, 2, 20, 4]
[2, 4, 10, 23, 34, 45, 20, 5]