In [2]:
import pandas as pd
from sklearn import preprocessing

In [3]:
data=pd.read_csv("train.csv")

In [4]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
from sklearn.naive_bayes import GaussianNB

In [7]:
from sklearn.metrics import accuracy_score

In [8]:
from sklearn.metrics import confusion_matrix

In [9]:
l=preprocessing.LabelEncoder()

In [10]:
l.fit(data["Sex"])

LabelEncoder()

In [11]:
print(l.classes_)

['female' 'male']

In [12]:
data["Sex"]=l.transform(data["Sex"])

In [13]:
l.fit(data["Embarked"])

LabelEncoder()

In [14]:
print(l.classes_)

['C' 'Q' 'S']

In [15]:
data["Embarked"]=l.transform(data["Embarked"])

In [16]:
y=data["Embarked"]

In [17]:
x=data.drop(["Embarked","PassengerId","Name","Cabin","Ticket"],axis=1)

In [18]:
y.count()

889

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=0)

In [20]:
x_train.head()

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
350         0       1    1  45.0      0      0  35.0000
124         1       3    1  12.0      1      0  11.2417
577         0       3    0  45.0      1      0  14.4583
422         0       3    0  28.0      1      1  14.4000
118         0       3    0   2.0      4      2  31.2750

In [21]:
from sklearn.naive_bayes import*

In [22]:
c=BernoulliNB()

In [23]:
y_pred=c.fit(x_train,y_train).predict(x_test)

In [24]:
acc=accuracy_score(y_test,y_pred,normalize=True)
print(acc)
print( "accuracy = ",acc*100 ,"%")

0.7340823970037453
accuracy =  73.40823970037454 %

In [25]:
confusion_matrix(y_test,y_pred)

array([[  0,   0,  49],
       [  0,   0,  22],
       [  0,   0, 196]], dtype=int64)