In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [2]:
data=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [3]:
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
data.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [5]:
from sklearn.ensemble import RandomForestClassifier

In [6]:
data.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [7]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [8]:
features=['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']

In [9]:
rf_model.fit(X=data[features],y=data["Personal Loan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [10]:
print("Accuracy")
print(rf_model.oob_score_);

Accuracy
0.9854

In [11]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

ID 0.0441061053348619
Age 0.038635504625876234
Experience 0.038558946741744295
Income 0.31628995898100287
ZIP Code 0.04175963300626107
Family 0.08524033717657396
CCAvg 0.17328245940666068
Education 0.1430848731524342
Mortgage 0.04270481983868295
Securities Account 0.005437534360361598
CD Account 0.054212635295177
Online 0.007822245332668855
CreditCard 0.008864946747694571

We can choose Independent variable to be - "Income","CCAvg","Education" as their values are comparitively higher.

In [12]:
treemodel=tree.DecisionTreeClassifier(max_depth=6)

In [13]:
data1=pd.DataFrame([data["Income"],data["CCAvg"],data["Education"]]).T

In [14]:
treemodel.fit(X=data1,y=data["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [15]:
with open("decision_tree_3.dot",'w')as f:
    f=tree.export_graphviz(treemodel,feature_names=["Income","CCAvg","Education"],out_file=f);

In [16]:
treemodel.score(X=data1,y=data["Personal Loan"])

0.9738